//import utilities
@import "./util/responsive";

// import pages section
@import "./pages/home";
@import "./pages/about";
<<<<<<< HEAD
=======
@import "./pages/pkg-list";

//import components 
@import "./components/buttons";
@import "./components/nav";

// import utilities
@import "./util/variables";
@import "./util/responsive";
>>>>>>> 707f83d7460563a10186c6aac53c6dde035673c3


/*------------------------------------*\
    Body Style
\*------------------------------------*/

body {
    font-family: $font--primary;
    font-weight: 400;
    color: $font-color--primary;
}