//import utilities
@import "./util/responsive";

// import pages section
@import "./pages/home";
@import "./pages/about";

//import components 
@import "./components/buttons";
@import "./components/nav";

// import utilities
@import "./util/variables";
@import "./util/responsive";


/*------------------------------------*\
    Body Style
\*------------------------------------*/

body {
    font-family: $font--primary;
    font-weight: 400;
    color: $font-color--primary;
}