$color--primary : #3A5BFF;
$color-secondary: #3d3d3d;
$font-color--primary: #fafafa;
$font-color--secondary: #212121;
$font-weight--light : 300;
$font-weight--regular : 400;
$font-weight--medium : 500;
$font-weight--bold : 700;
$font-family--primary: 'Roboto', sans-serif;
$font-family--secondary : 'PT Serif', serif;


body{
    font-family: 'Roboto', sans-serif;
    font-weight: $font-weight--regular;
    background-color: $color-secondary;
}

.bg{
    background-image: url("../img/bg-asset-1.webp");
    background-color: #212121;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.mask{
    background: linear-gradient(rgba(61, 61, 61, 0.46) 0%, #3d3d3d 100%); 
    min-height: 100vh;
}

.c-fold-container{
    min-height:100vh; text-align: center
}

.o-fold-img{
    min-width: 150px;
    height: 75px;
}

.o-fold-container__title{
    font-size:70px; 
    font-weight:700; 
    color:$font-color--primary; 
    letter-spacing: 1px; 
}

@mixin base-btn($bg){
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: $bg;
    border: 3px solid $color--primary;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.o-btn--primary{
    @include base-btn($color--primary);
    max-width: 250px;
}

.o-btn--secondary{ 
    @include base-btn(transparent);
    max-width: 250px;
}

.o-btn__about{
    @include base-btn($color--primary);
    min-width: 250px;
    max-width: 325px;
    margin-bottom:1em;
}

%title{
     font-weight:600; 
    text-transform:capitalize;
    color: $font-color--primary;
    font-size: 2em;
    letter-spacing: 1px;
}

@mixin wording($color) {
    font-family: $font-family--secondary;
    color: $color;
    padding: 1em 0em;
    letter-spacing: 1px;
    line-height: 1.5em;
    
}

#about{
    padding: 20px;
}

.c-about{
    max-width: 500px;
}

.o-about-title{
    @extend %title;
}

.o-about-wording{
    @include wording(#eaeaea);
}

#services{
    padding: 20px;
    height:50vh; 
    margin-top:5em;
}

.o-services-title{
    @extend %title;
    margin-bottom: 0.5em;
}

.c-services-card{
 margin-top: 1em;
}

.o-services__card-title{
    @extend %title;
    color: #eaeaea;
    font-size: 1.5em;
}

.o-services-card__icon{
    color: #eaeaea;
}

.o-services-card__wording{
    @include wording(#e4e4e4);
    line-height: 1.5em;
}

.o-contact__card-title{
    @extend %title;
    color: #eaeaea;
    font-size: 1.5em;
}

.o-contact-card__icon{
    color: #eaeaea;
}

.o-contact-card__wording{
    @include wording(#e4e4e4);
    padding-left: 2em;
}   

// responsive
@media only screen and (max-width:600px){
    .o-fold-container__title{
        font-size: 60px;
    }

    .o-btn--secondary{
        margin-top: 20px;
    }
}
