<!-- set title -->
{% set title = 'About Us' %}
{% set description = 'About Us' %}

<!-- extends from layout -->
{% extends "layout.njk" %}

<!-- contents start from here -->
{% block content %}
    <!-- header start here -->
    <div class="jumbotron jumbotron-fluid c-header-about">
        <div class="container-fluid">
            <div class="row" style="height:100%">
                <div class="col-lg-7 c-header--left"></div>
                <div class="col-lg-5 c-header--right d-flex align-items-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>ABout us</h1>

                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet.
                            </p>

                            <div class="row no-gutters align-items-center">
                                <div class="col-lg-6">
                                    <a href="#" class="btn btn-outline-success my-2 my-sm-0 btn--primary" style="letter-spacing:2px;">Company Profile</a>
                                </div>
                                <div class="col-lg-6 d-flex justify-content-center">
                                    <ul class="nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">
                                                <i class="fab fa-facebook-f"></i>

                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">
                                                <i class="fab fa-youtube"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header end here -->

    <!-- partner start here -->
    <div class="container w-100 c-partner-about">
        <div class="row">
            <div class="col-lg-3 col-6 d-flex justify-content-center">
                <img src="https://placehold.it/150x50" alt="our partner logo">
            </div>
            <div class="col-lg-3 col-6 d-flex justify-content-center">
                <img src="https://placehold.it/150x50" alt="our partner logo">
            </div>
            <div class="col-lg-3 col-6 d-flex justify-content-center">
                <img src="https://placehold.it/150x50" alt="our partner logo">
            </div>
            <div class="col-lg-3 col-6 d-flex justify-content-center">
                <img src="https://placehold.it/150x50" alt="our partner logo">
            </div>
        </div>
    </div>
    <!-- partner end here -->

    <!-- our service start here -->
    <div class="container c-service-about mt-5 mb-5">
        <div class="row mx-auto">
            <div class="col-lg-12 text-center">
                <h1>our services</h1>
            </div>

            <!-- our service items left start here -->
            <div class="col-lg-6">

                <!-- our service item #1 start here -->
                <div class="col-lg-12">
                    <div class="media">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-2">
                                <div class="o-service-icon">
                                    <img src="./assets/img/tour.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="media-body">
                                    <h2 class="mt-0">Tour and Travel</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- our service item #1 end here -->

                <!-- our service item #2 start here -->
                <div class="col-lg-12">
                    <div class="media">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-2">
                                <div class="o-service-icon">
                                    <img src="./assets/img/event.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="media-body">
                                    <h2 class="mt-0">event management</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- our service item #2 end here -->

                <!-- our service item #3 start here -->
                <div class="col-lg-12">
                    <div class="media">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-2">
                                <div class="o-service-icon">
                                    <img src="./assets/img/bus-stop.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="media-body">
                                    <h2 class="mt-0">Transfer Arrangement</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- our service item #3 end here -->

            </div>
            <!-- our service items left start here -->

            <!-- our service items right start here -->
            <div class="col-lg-6">

                <!-- our service item #1 start here -->
                <div class="col-lg-12">
                    <div class="media">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-2">
                                <div class="o-service-icon">
                                    <img src="./assets/img/creativity.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="media-body">
                                    <h2 class="mt-0">art & creative support</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- our service item #1 end here -->

                <!-- our service item #2 start here -->
                <div class="col-lg-12">
                    <div class="media">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-2">
                                <div class="o-service-icon">
                                    <img src="./assets/img/calendar.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="media-body">
                                    <h2 class="mt-0">event management</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- our service item #2 end here -->

                <!-- our service item #3 start here -->
                <div class="col-lg-12">
                    <div class="media">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-2">
                                <div class="o-service-icon">
                                    <img src="./assets/img/fireworks.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="media-body">
                                    <h2 class="mt-0">customized service</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- our service item #3 end here -->

            </div>
            <!-- our service items right start here -->

            <div class="col-lg-12 d-flex justify-content-center mt-5">
                <a href="#" class="btn btn-outline-success my-2 my-sm-0 btn--primary" style="letter-spacing:2px; border-radius:20px;">More Info</a>
            </div>
        </div>
    </div>
    <!-- our service end here -->

    <!-- business unit start here -->
    <div class="container-fluid c-travel-about mt-5">
        <div class="c-content d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex justify-content-center">
                        <div class="embed-responsive">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ibuUmMhD2Pg?rel=0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6 my-auto">
                        <h2>Our business unit</h2>
                        <h1>tour & travel</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </p>
                        <a href="#" class="btn btn-outline-success my-2 my-sm-0 btn--primary" style="letter-spacing:2px;">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- business unit end here -->

    <!-- tour categories start here -->
    <div class="container-fluid c-travel-categories mt-5 mb-5">
        <div class="d-flex align-items-center my-auto">
            <div class="container">
                <div class="row">

                    <!-- description start here -->
                    <div class="col-lg-4 c-description">
                        <h2>
                            our tour categories
                        </h2>
                        <p class="pt-2 pb-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum impedit dignissimos repudiandae mollitia vel pariatur? Id molestiae odit quia aliquam laboriosam perspiciatis quibusdam quo. Ipsa excepturi sunt atque numquam culpa!
                        </p>
                        <a href="#" class="btn btn-outline-success my-2 my-sm-0 btn--primary" style="letter-spacing:2px; min-width:80%;">learn more</a>
                    </div>
                    <!-- description end here -->

                    <!-- slider tour categories start here -->
                    <div class="col-lg-8 c-slider">
                        <!-- Carousel start here -->
                        <div class="c-product-carousel swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <!--carousel card #1 start here-->
                                    <div class="col">
                                        <!-- card content #1 start here -->
                                        <div class="card text-white c-card-small">
                                            <img src="./assets/img/bg--1.jpg" class="card-img img-fluid" alt="background-image">
                                            <div class="overlay"></div>
                                            <div class="card-img-overlay">
                                                <a href="#" class="btn btn-link stretched-link">Eco nature</a>
                                            </div>
                                        </div>
                                        <!-- card content #1 end here -->
                                    </div>
                                    <!-- carousel card #1 end here-->
                                </div>
                                <!-- Slides -->
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <!--carousel card #2 start here-->
                                    <div class="col">
                                        <!-- card content #2 start here -->
                                        <div class="card text-white c-card-small">
                                            <img src="./assets/img/bg--5.jpg" class="card-img img-fluid" alt="background-image">
                                            <div class="overlay"></div>
                                            <div class="card-img-overlay">
                                                <a href="#" class="btn btn-link stretched-link">cultural & heritage
                                                </a>
                                            </div>
                                        </div>
                                        <!-- card content #2 end here -->
                                    </div>
                                    <!-- carousel card #2 end here-->
                                </div>
                                <!-- Slides -->
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <!--carousel card #3 start here-->
                                    <div class="col">
                                        <!-- card content #3 start here -->
                                        <div class="card text-white c-card-small">
                                            <img src="./assets/img/bg--2.jpg" class="card-img img-fluid" alt="background-image">
                                            <div class="overlay"></div>
                                            <div class="card-img-overlay">
                                                <a href="#" class="btn btn-link stretched-link">business travel</a>
                                            </div>
                                        </div>
                                        <!-- card content #3 end here -->
                                    </div>
                                    <!-- carousel card #3 end here-->
                                </div>
                                <!-- Slides -->
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <!--carousel card #5 start here-->
                                    <div class="col">
                                        <!-- card content #6 start here -->
                                        <div class="card text-white c-card-small">
                                            <img src="./assets/img/bg--5.jpg" class="card-img img-fluid" alt="background-image">
                                            <div class="overlay"></div>
                                            <div class="card-img-overlay">
                                                <a href="#" class="btn btn-link stretched-link">Heritage</a>
                                            </div>
                                        </div>
                                        <!-- card content #6 end here -->
                                    </div>
                                    <!-- carousel card #5 end here-->
                                </div>
                                <!-- Slides -->
                            </div>
                        </div>
                        <!-- Carousel end here -->
                    </div>
                    <!-- slider tour categories end here -->
                </div>
            </div>
        </div>
    </div>
    <!-- tour categories end here -->

    <!-- business unit start here -->
    <div class="container-fluid c-mice-about mt-5">
        <div class="c-content d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex justify-content-center order-2">
                        <div class="embed-responsive">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WJUczZ1RH_w?rel=0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6 my-auto order-1" style="padding-left:30px;">
                        <h2>Our business unit</h2>
                        <h1>Event Management</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                        </p>
                        <a href="#" class="btn btn-outline-success my-2 my-sm-0 btn--primary" style="letter-spacing:2px;">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- business unit end here -->

    <!-- event services start here -->
    <div class="container c-event-service">
        <div class="row d-flex align-items-center" style="height:400px;">
            <div class="col-lg-5 mx-auto my-auto">
                <div class="row">

                    <!-- event services item #1 start here -->
                    <div class="col-lg-6 d-flex justify-content-center">
                        <div class="o-service-icon">
                            <div class="row">
                                <div class="col-lg-12 d-flex justify-content-center">
                                    <img src="./assets/img/camera.svg" alt="" class="img-fluid">
                                </div>
                                <div class="col-lg-12 text-center">
                                    <p>professional videography</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- event services item #1 end here -->

                    <!-- event services item #2 start here -->
                    <div class="col-lg-6 d-flex justify-content-center">
                        <div class="o-service-icon d-flex justify-content-center">
                            <div class="row">
                                <div class="col-lg-12 d-flex justify-content-center">
                                    <img src="./assets/img/cheers.svg" alt="" class="img-fluid">
                                </div>
                                <div class="col-lg-12 text-center">
                                    <p>special themes</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- event services item #2 end here -->

                    <!-- event services item #3 start here -->
                    <div class="col-lg-6 d-flex justify-content-center">
                        <div class="o-service-icon d-flex justify-content-center">

                            <div class="row">
                                <div class="col-lg-12 d-flex justify-content-center">
                                    <img src="./assets/img/hotel.svg" alt="" class="img-fluid">
                                </div>
                                <div class="col-lg-12 text-center">
                                    <p>hotel reservation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- event services item #3 end here -->

                    <!-- event services item #4 start here -->
                    <div class="col-lg-6 d-flex justify-content-center">
                        <div class="o-service-icon d-flex justify-content-center">
                            <div class="row">
                                <div class="col-lg-12 d-flex justify-content-center">
                                    <img src="./assets/img/map.svg" alt="" class="img-fluid">
                                </div>
                                <div class="col-lg-12 text-center">
                                    <p>venue booking</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- event services item #4 end here -->

                </div>
            </div>
            <div class="col-lg-6 my-auto c-description">
                <h2>
                    our event services
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
                </p>
            </div>
        </div>
    </div>
    <!-- event services end here -->

    <!-- our team start here -->
    <div class="container-fluid c-our-team">
        <div class="c-description text-center">
            <h2>
                our teams
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, rerum.
            </p>
        </div>
        <div class="d-flex align-items-center my-auto">
            <div class="container">
                <div class="row">

                    <!-- container slider start here -->
                    <div class="col-lg-12 c-slider">
                        <div class="c-product-carousel swiper-container">

                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">

                                <!-- slides -->
                                <div class="swiper-slide">
                                    <!--carousel card #1 start here-->
                                    <div class="col">
                                        <!-- card content #1 start here -->
                                        <div class="card c-profile">
                                            <div class="card-body">
                                                <img src="./assets/img/people--2.png" alt="profile picture" class="img-fluid rounded-circle c-profile-picture mb-3">
                                                <h6>
                                                    Jhenny fang
                                                </h6>
                                                <p class="card-text text-bold">
                                                    commisioner
                                                </p>
                                            </div>
                                        </div>
                                        <!-- card content #1 end here -->
                                    </div>
                                    <!--carousel card #1 end here-->
                                </div>
                                <!-- slides -->

                                <!-- slides -->
                                <div class="swiper-slide">
                                    <!--carousel card #2 start here-->
                                    <div class="col">
                                        <!-- card content #2 start here -->
                                        <div class="card c-profile">
                                            <div class="card-body">
                                                <img src="./assets/img/people--1.png" alt="profile picture" class="img-fluid rounded-circle c-profile-picture mb-3">
                                                <h6>
                                                    jhon smith
                                                </h6>
                                                <p class="card-text text-bold">
                                                    director
                                                </p>
                                            </div>
                                        </div>
                                        <!-- card content #2 end here -->
                                    </div>
                                    <!--carousel card #2 end here-->
                                </div>
                                <!-- slides -->

                                <!-- slides -->
                                <div class="swiper-slide">
                                    <!--carousel card #3 start here-->
                                    <div class="col">
                                        <!-- card content #3 start here -->
                                        <div class="card c-profile">
                                            <div class="card-body">
                                                <img src="./assets/img/people--1.png" alt="profile picture" class="img-fluid rounded-circle c-profile-picture mb-3">
                                                <h6>
                                                    Sujito tejo
                                                </h6>
                                                <p class="card-text text-bold">
                                                    tour planner
                                                </p>
                                            </div>
                                        </div>
                                        <!-- card content #3 end here -->
                                    </div>
                                    <!--carousel card #3 end here-->
                                </div>
                                <!-- slides -->

                            </div>
                            <!-- Additional required wrapper -->

                        </div>
                    </div>
                    <!-- container slider end here -->

                </div>
            </div>
        </div>
    </div>
    <!-- our team end here -->

    <!-- our client start here -->
    <div class="container-fluid c-our-client">
        <div class="container">
            <div class="c-description text-center">
                <h2>
                    our clients
                </h2>
                <p class="mx-auto">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </p>
            </div>
            <div class="row mx-auto">
                <div class="col-lg-2">
                    <img src="./assets/img/logo--1.png" alt="client logo" class="img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="./assets/img/logo--2.png" alt="client logo" class="img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="./assets/img/logo--3.png" alt="client logo" class="img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="./assets/img/logo--4.png" alt="client logo" class="img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="./assets/img/logo--5.png" alt="client logo" class="img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="./assets/img/logo--1.png" alt="client logo" class="img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="./assets/img/logo--1.png" alt="client logo" class="img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="./assets/img/logo--5.png" alt="client logo" class="img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="./assets/img/logo--4.png" alt="client logo" class="img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="./assets/img/logo--3.png" alt="client logo" class="img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="./assets/img/logo--2.png" alt="client logo" class="img-fluid">
                </div>
                <div class="col-lg-2">
                    <img src="./assets/img/logo--1.png" alt="client logo" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <!-- our client end here -->

    <!-- Recent works start here -->
    <div class="container-fluid c-recent-works" style="padding:0;">
        <div class="row no-gutters">
            <!-- Recent work wording start here -->
            <div class="col-lg-4 c-wording d-flex align-items-center justify-content-center">
                <div>
                    <h5>our recent works</h5>
                    <p class="pb-2 pt-2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
                    <a href="#" class="btn btn-primary btn-block btn--secondary">
                        see more
                    </a>
                </div>
            </div>
            <!-- Recent work wording end here -->
            <div class="col-lg-8">
                <div class="row no-gutters">
                    <!-- Recent work content start here -->
                    <div class="col-lg-4 c-img">
                        <div class="card text-white">
                            <img src="./assets/img/bg--6.jpg" class="card-img" alt="recent works image">
                            <div class="overlay card-img-overlay text-left">
                                <div class="c-content">
                                    <h5 class="card-title">Event Name #1</h5>
                                    <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Recent work content end here -->
                    <!-- Recent work content start here -->
                    <div class="col-lg-4 c-img">
                        <div class="card text-white">
                            <img src="./assets/img/bg--7.jpg" class="card-img" alt="recent works image">
                            <div class="card-img-overlay text-left">
                                <div class="c-content">
                                    <h5 class="card-title">Event Name #2</h5>
                                    <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Recent work content end here -->
                    <!-- Recent work content start here -->
                    <div class="col-lg-4 c-img">
                        <div class="card text-white">
                            <img src="./assets/img/bg--8.jpg" class="card-img" alt="recent works image">
                            <div class="card-img-overlay text-left">
                                <div class="c-content">
                                    <h5 class="card-title">Event Name #3</h5>
                                    <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Recent work content end here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Recent works end here -->

    <!-- cta start here -->
    <div class="container-fluid c-cta-about">
        <div class="c-content d-flex align-items-center">
            <div class="container d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="height:100;">
                            <div class="col-lg-6 text-left d-flex align-items-center">
                                <h6>
                                    Ready to take your event to the next level ?
                                </h6>
                            </div>
                            <div class="col-lg-6 mx-auto my-auto">
                                <div class="row no-gutters">
                                    <div class="col-lg-6">
                                        <a href="#" class="btn btn-outline-success my-2 my-sm-0 btn--primary" style="letter-spacing:2px; background-color:#be8c2c
">
                                            call us
                                        </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a href="#" class="btn btn-outline-success my-2 my-sm-0 btn--secondary" style="letter-spacing:2px;">
                                            email us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta end here -->

    <!-- Footer start here -->
    <div class="container c-footer d-flex justify-content-center">
        <div class="row mt-5" style="min-width:100%;">
            <div class="col-lg-3">
                <img src="https://placehold.it/200x100" alt="">
                <p class="pt-5">Akana Travel Link</p>
                <p class="pt-2">PT. Nama Perusahaan</p>
            </div>
            <div class="col-lg-2">
                <h5>Our service</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="">Reservasi Hotel</a>
                    </li>
                    <li>
                        <a href="">Reservasi Tour & Travel</a>
                    </li>
                    <li>
                        <a href="">Event Organizer</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h5>about us</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="">company profile</a>
                    </li>
                    <li>
                        <a href="">tentang kami</a>
                    </li>
                    <li>
                        <a href="">legalitas</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5">
                <h5 >Kontak</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="">
                            <i class="fas fa-phone"></i>
                            &nbsp;+62 - 823 - 3355 - 3344
                            <br>
                            &nbsp; &nbsp; &nbsp; &nbsp;+62 - 271 - 3355 - 3344</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-map-marker-alt"></i>
                            &nbsp; Jl. Yos Sudarso, Yogyakarta, Indonesia, 55726</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="far fa-envelope"></i>
                            &nbsp; info@example.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer end here -->

{% endblock %}
<!-- contents end here -->