<!-- set title -->
{% set title = 'Blog List' %}
{% set description = 'Blog List' %}

<!-- extends from layout -->
{% extends "layout.njk" %}

<!-- contents start from here -->
{% block content %}

    <!-- header start here -->
    <div class="jumbotron jumbotron-fluid c-blog-list-header">
        <div class="container-fluid">
            <div class="row" style="height:100%">

                <div class="col-lg-6 c-blog-list-header-description d-flex align-items-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>
                                akana travel blogs
                            </h1>

                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 c-blog-list-header-image"></div>

            </div>
        </div>
    </div>
    <!-- header end here -->

    <!-- blog konten end here -->
    <div class="container c-blog-list-konten">
        <div class="row">

            <!-- blog konten kiri start here -->
            <div class="col-lg-8 c-blog-list-konten-kiri">
                <div class="row">

                    <!-- card content #1 start here -->
                    <div class="col-lg-6 col-12 mb-4">
                        <div class="card">
                            <img src="./assets/img/bromo2.jpg" class="card-img-top" alt="image">
                            <div class="overlay card-img-overlay text-left">
                                <div class="c-content">
                                    <h5 class="card-title">Blog title #1</h5>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>
                                                14 mei 2019
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <p>
                                                tips
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et …
                                </p>
                                <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                            </div>
                        </div>
                    </div>
                    <!-- card content #1 end here -->

                    <!-- card content #2 start here -->
                    <div class="col-lg-6 col-12 mb-4">
                        <div class="card">
                            <img src="./assets/img/bromo3.jpg" class="card-img-top" alt="image">
                            <div class="overlay card-img-overlay text-left">
                                <div class="c-content">
                                    <h5 class="card-title">Blog title #2</h5>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>
                                                20 mei 2019
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <p>
                                                berita
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et …
                                </p>
                                <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                            </div>
                        </div>
                    </div>
                    <!-- card content #2 end here -->

                    <!-- card content #3 start here -->
                    <div class="col-lg-6 col-12 mb-4">
                        <div class="card">
                            <img src="./assets/img/bg--1.jpg" class="card-img-top" alt="image">
                            <div class="overlay card-img-overlay text-left">
                                <div class="c-content">
                                    <h5 class="card-title">Blog title #3</h5>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>
                                                14 mei 2019
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <p>
                                                mice
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et …
                                </p>
                                <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                            </div>
                        </div>
                    </div>
                    <!-- card content #3 end here -->

                    <!-- card content #4 start here -->
                    <div class="col-lg-6 col-12 mb-4">
                        <div class="card">
                            <img src="./assets/img/bg--2.jpg" class="card-img-top" alt="image">
                            <div class="overlay card-img-overlay text-left">
                                <div class="c-content">
                                    <h5 class="card-title">Blog title #4</h5>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>
                                                14 mei 2019
                                            </p>
                                        </div>
                                        <div class="col-6">
                                            <p>
                                                update
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et …
                                </p>
                                <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                            </div>
                        </div>
                    </div>
                    <!-- card content #4 end here -->

                    <!-- pagination start here -->
                    <div class="col-lg-12 mt-3 mb-3">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- pagination end here -->

                </div>
            </div>
            <!-- blog konten kiri end here -->

            <!-- blog konten kanan start here -->
            <div class="col-lg-4 c-blog-list-konten-kanan">

                <!-- search form start here -->
                <form class="form-inline d-flex justify-content-center">
                    <label for="formCari" class="mb-3 text-bold">Cari artikel</label>
                    <input type="text" class="form-control mb-4 mr-sm-2" id="formCari" placeholder="Cari artikel disini..." style="min-width:100%">
                    <button type="submit" class="btn btn-primary btn--secondary mb-2 btn-block">Submit</button>
                </form>
                <!-- search end here -->

                <!-- kategori start here -->
                <div class="c-konten-kategori mt-5">
                    <h5>
                        kategori
                    </h5>
                    <hr>

                    <button type="button" class="btn btn-primary badge-pill badge-primary">
                        Tour & Travel
                    </button>

                    <button type="button" class="btn btn-primary badge-pill badge-primary">
                        mice
                    </button>

                    <button type="button" class="btn btn-primary badge-pill badge-primary">
                        event
                    </button>

                    <button type="button" class="btn btn-primary badge-pill badge-primary">
                        tips
                    </button>
                </div>
                <!-- kategori end here -->

                <!-- rekomendasi start here -->
                <div class="c-konten-rekomendasi mt-5">
                    <h5>
                        kategori
                    </h5>
                    <hr>

                    <div class="media mt-5">
                        <img src="http://placehold.it/75" class="mr-3 align-self-center" alt="image">
                        <div class="media-body">
                            <h5 class="mt-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h5>
                            <p>12 Mei 2019</p>
                        </div>
                    </div>

                    <div class="media mt-5">
                        <img src="http://placehold.it/75" class="mr-3 align-self-center" alt="image">
                        <div class="media-body">
                            <h5 class="mt-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h5>
                            <p>12 Mei 2019</p>
                        </div>
                    </div>

                    <div class="media mt-5">
                        <img src="http://placehold.it/75" class="mr-3 align-self-center" alt="image">
                        <div class="media-body">
                            <h5 class="mt-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h5>
                            <p>12 Mei 2019</p>
                        </div>
                    </div>
                </div>
                <!-- rekomendasi end here -->

            </div>
            <!-- blog konten kanan end here -->

        </div>
    </div>
    <!-- blog konten end here -->

    <!-- About us start here -->
    <div class="container-fluid c-about">
        <div class="row no-gutters">
            <div class="col-lg-4 c-img">
                <h5>About us</h5>
                <div class="card text-white mt-2 img-behind d-none d-sm-block">
                    <img src="./assets/img/bg--10.png" class="card-img" alt="...">
                </div>
                <div class="card text-white mt-4 img-top">
                    <img src="./assets/img/bg--9.jpg" class="card-img " alt="...">
                </div>
            </div>
            <div class="col-lg-8 c-wording d-flex justify-content-center mb-4">
                <div class="c-content">
                    <h1>akana travel</h1>
                    <p>
                        Akana Travel is the company boosted as the Best Upcoming Tour Operator and Travel Organizers in Indonesia with a strong presence in inbound travel trade and corporate segment. The company with its professionally managed travel engine specializes mainly in organizing Adventure, Cultural, Religious, hill station & wildlife tours in Indonesia through a sprawling network. It offers 24 X 7 hours services that include travel planning, itinerary design, hotel bookings, ticket reservations and transport facilities. It also provides holiday packages, customized as per client’s need and budget.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="btn btn-primary btn-block btn--primary" href="#" role="button">our profile</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn btn-primary btn-block btn--secondary" href="#" role="button">contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About us end here -->

    <!-- cta start here -->
    <div class="container d-flex justify-content-center c-cta">
        <div class="row" style="min-width:100%">
            <div class="col-lg-12  d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <h5>
                                    needs help ?
                                </h5>
                                <small>Reach us with ease</small>
                            </div>
                            <div class="col-lg-4">
                                <small>call us</small>
                                <p>
                                    (+62) - 234 - 677 - 899
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <small>send us an email</small>
                                <p>
                                    hi@example.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- cta end here -->

    <!-- Footer start here -->
    <div class="container c-footer c-dest-list-footer d-flex justify-content-center pt-5 mt-5">
        <div class="row mt-5" style="min-width:100%;">
            <div class="col-lg-3">
                <img src="https://placehold.it/200x100" alt="">
                <p class="pt-5">Akana Travel Link</p>
                <p class="pt-2">PT. Nama Perusahaan</p>
            </div>
            <div class="col-lg-2">
                <h5>Our service</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="">Reservasi Hotel</a>
                    </li>
                    <li>
                        <a href="">Reservasi Tour & Travel</a>
                    </li>
                    <li>
                        <a href="">Event Organizer</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h5>about us</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="">company profile</a>
                    </li>
                    <li>
                        <a href="">tentang kami</a>
                    </li>
                    <li>
                        <a href="">legalitas</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5">
                <h5 >Kontak</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="">
                            <i class="fas fa-phone"></i>
                            &nbsp;+62 - 823 - 3355 - 3344
                            <br>
                            &nbsp; &nbsp; &nbsp; &nbsp;+62 - 271 - 3355 - 3344</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-map-marker-alt"></i>
                            &nbsp; Jl. Yos Sudarso, Yogyakarta, Indonesia, 55726</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="far fa-envelope"></i>
                            &nbsp; info@example.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer end here -->

{% endblock %}
<!-- contents end here -->