<!-- set title -->
{% set title = 'Destination Detail' %}

<!-- extends from layout -->
{% extends "layout.njk" %}

<!-- contents start from here -->
{% block content %}

    <!-- package header start here-->
    <div class="jumbotron c-dest-detail-header">
        <div class="c-dest-detail-header-content">
            <div class="container d-flex align-items-center">
                <div class="row no-gutters">

                    <!-- wording start here -->
                    <div class="col-lg-8">
                        <h1 class="display-4">
                            bali destination
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus accusamus, necessitatibus dolorem ratione quas dolorum expedita, eum amet eius rerum aperiam temporibus magnam deserunt.
                        </p>

                        <div class="row no-gutters pt-3">
                            <div class="col-lg-6">
                                <p>
                                    <img src="https://placehold.it/60" class="img-fluid pr-2" alt="icon">
                                    Cultural & heritage
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <p>
                                    <img src="https://placehold.it/60" class="img-fluid pr-2" alt="icon">
                                    Honeymoon travel
                                </p>
                            </div>
                            <div class="col-lg-6 pt-2">
                                <p>
                                    <img src="https://placehold.it/60" class="img-fluid pr-2" alt="icon">
                                    Eco natural travel
                                </p>
                            </div>
                            <div class="col-lg-6 pt-2">
                                <p>
                                    <img src="https://placehold.it/60" class="img-fluid pr-2" alt="icon">
                                    Religious & spiritual travel
                                </p>
                            </div>
                        </div>

                    </div>
                    <!-- wording end here -->

                    <!-- konten kiri start here -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="o-header text-center mx-auto my-auto">
                                    <h1>
                                        tour highlight
                                    </h1>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                    <li class="list-group-item">Cras justo odio</li>
                                    <li class="list-group-item">Dapibus ac facilisis in</li>
                                    <li class="list-group-item">Morbi leo risus</li>
                                    <li class="list-group-item">Porta ac consectetur ac</li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- konten kiri end here -->

                </div>
            </div>
        </div>
    </div>
    <!-- package header end here -->
{% endblock %}
<!-- contents end here -->