<!-- set title -->
{% set title = 'Destination List' %}
{% set description = 'Destination List' %}

<!-- extends from layout -->
{% extends "layout.njk" %}

<!-- contents start from here -->
{% block content %}

    <!-- header start here -->
    <div class="container-fluid c-dest-list-header">
        <div class="c-dest-list-header-content  d-flex align-items-center">
            <div class="container">
                <!-- content start here -->
                <div class="row no-gutter">
                    <div class="col-lg-12">

                        <!-- title start here -->
                        <h3 class="text-center text-uppercase">
                            explore our best destination list
                        </h3>
                        <!-- title end here -->

                        <!-- searchbox start here -->
                        <div class="card mx-auto">
                            <div class="card-body">
                                <form class="mb-0 form-inline">
                                    <input type="text" class="form-control form-control-lg" placeholder="Cari destinasi disini...">
                                    <button type="submit" class="btn btn--primary ml-3">search</button>
                                </form>
                            </div>
                        </div>
                        <!-- searchbox end here -->

                    </div>
                </div>
                <!-- content end here -->
            </div>

        </div>
    </div>
    <!-- header end here -->

    <!-- destination list start here -->
    <div class="container c-dest-list-product">
        <div class="row">

            <div class="col-lg-12 text-center mt-5 mb-5">
                <h1>
                    our destination List
                </h1>
            </div>

            <!-- product #1 start here -->
            <div class="col-lg-4">

                <!-- card content #1 start here -->
                <div class="card text-white c-card-destination">
                    <img src="./assets/img/dest--1.jpg" class="card-img img-fluid" alt="background-image">
                    <div class="overlay"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">surakarta</h5>
                        <p class="card-text">
                            20 Tour Packages at this destination</p>
                        <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                    </div>
                </div>
                <!-- card content #1 end here -->

            </div>
            <!-- product #1 end here -->

            <!-- product #2 start here -->
            <div class="col-lg-4">

                <!-- card content #2 start here -->
                <div class="card text-white c-card-destination">
                    <img src="./assets/img/dest--2.jpg" class="card-img img-fluid" alt="background-image">
                    <div class="overlay"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">bali</h5>
                        <p class="card-text">
                            50 Tour Packages at this destination
                        </p>
                        <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                    </div>
                </div>
                <!-- card content #2 end here -->

            </div>
            <!-- product #2 end here -->

            <!-- product #3 start here -->
            <div class="col-lg-4">

                <!-- card content #3 start here -->
                <div class="card text-white c-card-destination">
                    <img src="./assets/img/dest--1.jpg" class="card-img img-fluid" alt="background-image">
                    <div class="overlay"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">surakarta</h5>
                        <p class="card-text">
                            20 Tour Packages at this destination</p>
                        <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                    </div>
                </div>
                <!-- card content #3 end here -->

            </div>
            <!-- product #3 end here -->

            <!-- product #4 start here -->
            <div class="col-lg-4">

                <!-- card content #4 start here -->
                <div class="card text-white c-card-destination">
                    <img src="./assets/img/dest--2.jpg" class="card-img img-fluid" alt="background-image">
                    <div class="overlay"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">bali</h5>
                        <p class="card-text">
                            50 Tour Packages at this destination
                        </p>
                        <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                    </div>
                </div>
                <!-- card content #4 end here -->

            </div>
            <!-- product #4 end here -->

            <!-- product #5 start here -->
            <div class="col-lg-4">

                <!-- card content #5 start here -->
                <div class="card text-white c-card-destination">
                    <img src="./assets/img/dest--1.jpg" class="card-img img-fluid" alt="background-image">
                    <div class="overlay"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">surakarta</h5>
                        <p class="card-text">
                            20 Tour Packages at this destination</p>
                        <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                    </div>
                </div>
                <!-- card content #5 end here -->

            </div>
            <!-- product #5 end here -->

            <!-- product #6 start here -->
            <div class="col-lg-4">

                <!-- card content #6 start here -->
                <div class="card text-white c-card-destination">
                    <img src="./assets/img/dest--2.jpg" class="card-img img-fluid" alt="background-image">
                    <div class="overlay"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">bali</h5>
                        <p class="card-text">
                            50 Tour Packages at this destination
                        </p>
                        <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                    </div>
                </div>
                <!-- card content #6 end here -->

            </div>
            <!-- product #6 end here -->

            <!-- product #1 start here -->
            <div class="col-lg-4">

                <!-- card content #1 start here -->
                <div class="card text-white c-card-destination">
                    <img src="./assets/img/dest--1.jpg" class="card-img img-fluid" alt="background-image">
                    <div class="overlay"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">surakarta</h5>
                        <p class="card-text">
                            20 Tour Packages at this destination</p>
                        <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                    </div>
                </div>
                <!-- card content #1 end here -->

            </div>
            <!-- product #1 end here -->

            <!-- product #2 start here -->
            <div class="col-lg-4">

                <!-- card content #2 start here -->
                <div class="card text-white c-card-destination">
                    <img src="./assets/img/dest--2.jpg" class="card-img img-fluid" alt="background-image">
                    <div class="overlay"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">bali</h5>
                        <p class="card-text">
                            50 Tour Packages at this destination
                        </p>
                        <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                    </div>
                </div>
                <!-- card content #2 end here -->

            </div>
            <!-- product #2 end here -->

            <!-- product #3 start here -->
            <div class="col-lg-4">

                <!-- card content #3 start here -->
                <div class="card text-white c-card-destination">
                    <img src="./assets/img/dest--1.jpg" class="card-img img-fluid" alt="background-image">
                    <div class="overlay"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">surakarta</h5>
                        <p class="card-text">
                            20 Tour Packages at this destination</p>
                        <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                    </div>
                </div>
                <!-- card content #3 end here -->

            </div>
            <!-- product #3 end here -->

            <!-- product #4 start here -->
            <div class="col-lg-4">

                <!-- card content #4 start here -->
                <div class="card text-white c-card-destination">
                    <img src="./assets/img/dest--2.jpg" class="card-img img-fluid" alt="background-image">
                    <div class="overlay"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">bali</h5>
                        <p class="card-text">
                            50 Tour Packages at this destination
                        </p>
                        <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                    </div>
                </div>
                <!-- card content #4 end here -->

            </div>
            <!-- product #4 end here -->

            <!-- product #5 start here -->
            <div class="col-lg-4">

                <!-- card content #5 start here -->
                <div class="card text-white c-card-destination">
                    <img src="./assets/img/dest--1.jpg" class="card-img img-fluid" alt="background-image">
                    <div class="overlay"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">surakarta</h5>
                        <p class="card-text">
                            20 Tour Packages at this destination</p>
                        <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                    </div>
                </div>
                <!-- card content #5 end here -->

            </div>
            <!-- product #5 end here -->

            <!-- product #6 start here -->
            <div class="col-lg-4">

                <!-- card content #6 start here -->
                <div class="card text-white c-card-destination">
                    <img src="./assets/img/dest--2.jpg" class="card-img img-fluid" alt="background-image">
                    <div class="overlay"></div>
                    <div class="card-img-overlay">
                        <h5 class="card-title">bali</h5>
                        <p class="card-text">
                            50 Tour Packages at this destination
                        </p>
                        <a href="#" class="btn btn-link stretched-link">lihat detail</a>
                    </div>
                </div>
                <!-- card content #6 end here -->

            </div>
            <!-- product #6 end here -->

            <!-- pagination start here -->
            <div class="col-lg-12 mt-3 mb-3">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- pagination end here -->

        </div>
    </div>
    <!-- destination list end here -->

    <!-- About us start here -->
    <div class="container-fluid c-about">
        <div class="row no-gutters">
            <div class="col-lg-4 c-img">
                <h5>About us</h5>
                <div class="card text-white mt-2 img-behind d-none d-sm-block">
                    <img src="./assets/img/bg--10.png" class="card-img" alt="...">
                </div>
                <div class="card text-white mt-4 img-top">
                    <img src="./assets/img/bg--9.jpg" class="card-img " alt="...">
                </div>
            </div>
            <div class="col-lg-8 c-wording d-flex justify-content-center mb-4">
                <div class="c-content">
                    <h1>akana travel</h1>
                    <p>
                        Akana Travel is the company boosted as the Best Upcoming Tour Operator and Travel Organizers in Indonesia with a strong presence in inbound travel trade and corporate segment. The company with its professionally managed travel engine specializes mainly in organizing Adventure, Cultural, Religious, hill station & wildlife tours in Indonesia through a sprawling network. It offers 24 X 7 hours services that include travel planning, itinerary design, hotel bookings, ticket reservations and transport facilities. It also provides holiday packages, customized as per client’s need and budget.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="btn btn-primary btn-block btn--primary" href="#" role="button">our profile</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="btn btn-primary btn-block btn--secondary" href="#" role="button">contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About us end here -->

    <!-- cta start here -->
    <div class="container d-flex justify-content-center c-cta">
        <div class="row" style="min-width:100%">
            <div class="col-lg-12  d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <h5>
                                    needs help ?
                                </h5>
                                <small>Reach us with ease</small>
                            </div>
                            <div class="col-lg-4">
                                <small>call us</small>
                                <p>
                                    (+62) - 234 - 677 - 899
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <small>send us an email</small>
                                <p>
                                    hi@example.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- cta end here -->

    <!-- Footer start here -->
    <div class="container c-footer c-dest-list-footer d-flex justify-content-center pt-5 mt-5">
        <div class="row mt-5" style="min-width:100%;">
            <div class="col-lg-3">
                <img src="https://placehold.it/200x100" alt="">
                <p class="pt-5">Akana Travel Link</p>
                <p class="pt-2">PT. Nama Perusahaan</p>
            </div>
            <div class="col-lg-2">
                <h5>Our service</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="">Reservasi Hotel</a>
                    </li>
                    <li>
                        <a href="">Reservasi Tour & Travel</a>
                    </li>
                    <li>
                        <a href="">Event Organizer</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h5>about us</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="">company profile</a>
                    </li>
                    <li>
                        <a href="">tentang kami</a>
                    </li>
                    <li>
                        <a href="">legalitas</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5">
                <h5 >Kontak</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="">
                            <i class="fas fa-phone"></i>
                            &nbsp;+62 - 823 - 3355 - 3344
                            <br>
                            &nbsp; &nbsp; &nbsp; &nbsp;+62 - 271 - 3355 - 3344</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fas fa-map-marker-alt"></i>
                            &nbsp; Jl. Yos Sudarso, Yogyakarta, Indonesia, 55726</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="far fa-envelope"></i>
                            &nbsp; info@example.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer end here -->
{% endblock %}
<!-- contents end here -->