<!-- set title -->
{% set title = 'Homepage' %} 

<!-- extends from layout -->
{% extends "layout.njk" %}


<!-- contents start from here -->
{% block content %}


{# carousel part start here #}
<div class="c-home-slider">
  <div id="carouselHome" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/img/bg--1.jpg" class="d-block w-100" alt="slide-img">
        <div class="overlay"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Destinasi Wisata Terbaik</h5>
          <p>Liburan adalah salah satu cara paling jitu untuk melepas stres akibat rutinitas dan pekerjaan yang menjemukan. Tidak perlu melancong ke luar negeri atau menghabiskan uang di pusat-pusat perbelanjaan mahal, sebab Indonesia juga punya banyak sekali tempat menarik yang menunggu untuk segera Anda jelajahi.</p>
          <a href="#" class="btn btn-outline-success my-2 my-sm-0 btn--primary" style="letter-spacing:2px;">See More</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/img/bg--2.jpg" class="d-block w-100" alt="slide-img">
        <div class="overlay"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Pelayanan Terbaik</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean felis libero, tempus mattis tellus volutpat, vehicula porttitor lacus. Pellentesque tortor elit, viverra condimentum vehicula sit amet, molestie a lectus. </p>
          <a href="#" class="btn btn-outline-success my-2 my-sm-0 btn--primary" style="letter-spacing:2px;">See More</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/img/bg--3.jpg" class="d-block w-100" alt="slide-img">
        <div class="overlay"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Wisata Terbaik</h5>
          <p> Ut consequat est vitae sapien volutpat feugiat. Nullam et dolor erat. Nunc auctor orci libero, feugiat finibus quam pulvinar ac. Sed vitae efficitur turpis. Sed nec semper odio. Mauris vitae ipsum eu eros porta lacinia. In fringilla dolor ac tellus varius, id imperdiet est finibus.</p>
          <a href="#" class="btn btn-outline-success my-2 my-sm-0 btn--primary" style="letter-spacing:2px;">See More</a>
        </div>
      </div>
    </div>
  </div>
</div>
{# carousel part end here #}

{# type of service start here #}
  <div class="container-fluid c-service">
  <div class="bg"></div>
    <h3 class="o-title text-center" >
      our type of services
    </h3>
  </div>
{# type of service end here #}

{% endblock %}