<!-- set title -->
{% set title = 'Package List' %}
{% set description = 'Package List' %}

<!-- extends from layout -->
{% extends "layout.njk" %}

<!-- contents start from here -->
{% block content %}

    <!-- header start here -->
    <div class="container-fluid c-pkg-list-header">
        <div class="c-pkg-list-header-content  d-flex align-items-center">
            <div class="container">
                <!-- content start here -->
                <div class="row no-gutter">
                    <div class="col-lg-12">

                        <!-- title start here -->
                        <h3 class="text-center">
                            EXPLORE OUR BEST TOUR PACKAGES
                        </h3>
                        <!-- title end here -->

                        <!-- searchbox start here -->
                        <div class="card mx-auto">
                            <div class="card-body">
                                <form class="mb-0 form-inline">
                                    <input type="text" class="form-control form-control-lg" placeholder="Cari paket tour disini...">
                                    <button type="submit" class="btn btn--primary ml-3">search</button>
                                </form>
                            </div>
                        </div>
                        <!-- searchbox end here -->

                    </div>
                </div>
                <!-- content end here -->
            </div>

        </div>
    </div>
    <!-- header end here -->

    <!-- our recomendation start here -->
    <div class="container-fluid c-pkg-list-recomendation">
        <div class="container">

            <!-- wording start here -->
            <div class="wording">
                <h2>
                    tour recomendation
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis quos ratione facere amet, nihil, minus tempore illo odit ea, nostrum impedit doloribus reiciendis non autem maxime necessitatibus exercitationem culpa nobis.
                </p>
            </div>
            <!-- wording end here -->

            <!-- Carousel start here -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <!--carousel card #1 start here-->
                        <div class="col">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--2.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Borobudur trip 1
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            3 Days 2 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            yogyakarta - magelang
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- carousel card #1 end here-->
                    </div>
                    <div class="swiper-slide">
                        <!--carousel card #1 start here-->
                        <div class="col">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--2.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Borobudur trip 2
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            3 Days 2 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            yogyakarta - magelang
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- carousel card #1 end here-->
                    </div>
                    <div class="swiper-slide">
                        <!--carousel card #1 start here-->
                        <div class="col">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--2.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Borobudur trip 3
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            3 Days 2 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            yogyakarta - magelang
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- carousel card #1 end here-->
                    </div>
                    <div class="swiper-slide">
                        <!--carousel card #1 start here-->
                        <div class="col">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--2.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Borobudur trip 4
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            3 Days 2 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            yogyakarta - magelang
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- carousel card #1 end here-->
                    </div>
                    <div class="swiper-slide">
                        <!--carousel card #1 start here-->
                        <div class="col">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--2.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Borobudur trip 5
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            3 Days 2 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            yogyakarta - magelang
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- carousel card #1 end here-->
                    </div>
                </div>
            </div>
            <!-- Carousel end here -->

        </div>
    </div>
    <!-- our recomendation end here -->

    <!-- categories start here -->
    <div class="container-fluid c-pkg-list-categories">
        <div class="c-pkg-list-categories-content d-flex align-items-center justify-content-center">
            <div class="row">

                <!-- wording start here -->
                <div class="col-lg-12 text-center">
                    <h2 class="pt-5">
                        our tour list packages
                    </h2>
                </div>
                <!-- wording end here -->

                <!-- categories start here -->
                <div class="col-lg-12">
                    <div class="card mx-auto">
                        <div class="card-body">
                            <ul class="nav nav-pills nav-fill">

                                <!-- categories #1 start here -->
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">
                                        <img src="./assets/img/cat--1.svg" alt="" class="img-fluid pb-2 pt-2">
                                        <br>
                                        cultural
                                    </a>
                                </li>
                                <!-- categories #1 start here -->

                                <!-- categories #2 start here -->
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <img src="./assets/img/cat--2.svg" alt="" class="img-fluid pb-2 pt-2">
                                        <br>
                                        business
                                    </a>
                                </li>
                                <!-- categories #2 start here -->

                                <!-- categories #3 start here -->
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <img src="./assets/img/cat--3.svg" alt="" class="img-fluid pb-2 pt-2">
                                        <br>
                                        adventure
                                    </a>
                                </li>
                                <!-- categories #3 start here -->

                                <!-- categories #4 start here -->
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <img src="./assets/img/cat--4.svg" alt="" class="img-fluid pb-2 pt-2">
                                        <br>
                                        religious
                                    </a>
                                </li>
                                <!-- categories #4 start here -->

                                <!-- categories #5 start here -->
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <img src="./assets/img/cat--5.svg" alt="" class="img-fluid pb-2 pt-2">
                                        <br>
                                        tour
                                    </a>
                                </li>
                                <!-- categories #5 start here -->

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- categories end here -->

            </div>
        </div>
    </div>
    <!-- categories end here -->

    <!-- content start here -->
    <div class="container-fluid c-pkg-list-content">
        <div class="container">
            <div class="row">

                <!-- content kiri start here -->
                <div class="col-lg-3">
                    <div class="card c-content-kiri">
                        <div class="card-body text-left">
                            <div class="card-header">
                                Filter produk
                            </div>

                            <form>

                                <!-- filter #1 start here -->
                                <div class="c-content">
                                    <h5>
                                        harga
                                    </h5>
                                    <div id="slider"></div>
                                    <div id="slider-value"></div>
                                    <hr>
                                </div>
                                <!-- filter #1 end here -->

                                <!-- filter #2 start here -->
                                <div class="c-content">
                                    <div class="control-group">
                                        <label for="destinasi">
                                            <h5 class="mb-1">
                                                destinasi
                                            </h5>
                                        </label>
                                        <select class="form-control" id="destinasi">
                                            <option>yogyakarta</option>
                                            <option>malang</option>
                                            <option>solo</option>
                                            <option>surabaya</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <!-- filter #2 end here -->

                                <!-- filter #3 start here -->
                                <div class="c-content">
                                    <div class="control-group">
                                        <label for="destinasi">
                                            <h5 class="mb-1">
                                                durasi
                                            </h5>
                                        </label>
                                        <select class="form-control" id="destinasi">
                                            <option>3 hari 2 malam</option>
                                            <option>4 hari 3 malam</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- filter #3 end here -->

                            </form>

                        </div>
                    </div>
                </div>
                <!-- content kiri end here -->

                <!-- content kanan start here -->
                <div class="col-lg-8 c-content-kanan mx-auto">
                    <div class="row no-gutters">

                        <!-- card product #1 start here -->
                        <div class="col-lg-4">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--2.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Borobudur trip 1
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            3 Days 2 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            yogyakarta - magelang
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- card product #1 end here -->

                        <!-- card product #2 start here -->
                        <div class="col-lg-4">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--1.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Surakarta trip 1
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            4 Days 3 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            surakarta
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- card product #2 end here -->

                        <!-- card product #3 start here -->
                        <div class="col-lg-4">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--2.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Borobudur trip 1
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            3 Days 2 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            yogyakarta - magelang
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- card product #3 end here -->

                        <!-- card product #4 start here -->
                        <div class="col-lg-4">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--1.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Surakarta trip 1
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            4 Days 3 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            surakarta
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- card product #4 end here -->

                        <!-- card product #5 start here -->
                        <div class="col-lg-4">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--2.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Borobudur trip 1
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            3 Days 2 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            yogyakarta - magelang
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- card product #5 end here -->

                        <!-- card product #6 start here -->
                        <div class="col-lg-4">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--1.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Surakarta trip 1
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            4 Days 3 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            surakarta
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- card product #6 end here -->

                        <!-- card product #7 start here -->
                        <div class="col-lg-4">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--2.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Borobudur trip 1
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            3 Days 2 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            yogyakarta - magelang
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- card product #7 end here -->

                        <!-- card product #8 start here -->
                        <div class="col-lg-4">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--1.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Surakarta trip 1
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            4 Days 3 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            surakarta
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- card product #8 end here -->

                        <!-- card product #9 start here -->
                        <div class="col-lg-4">
                            <div class="card c-card-product">
                                <img src="./assets/img/dest--2.jpg" class="card-img-top" alt="card image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        Borobudur trip 1
                                    </h5>
                                    <p class="card-text text-capitalize">
                                        <span class="c-card-date mt-2 mb-2">
                                            <i class="far fa-calendar-alt pr-2"></i>
                                            3 Days 2 Night
                                        </span>
                                        <span class="c-card-dest">
                                            <i class="fas fa-map-marker-alt pr-2"></i>
                                            yogyakarta - magelang
                                        </span>
                                    </p>
                                    <a href="#" class="btn btn-primary btn-block btn--primary">
                                        packages detail
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- card product #9 end here -->

                        <!-- pagination start here -->
                        <div class="col-lg-12 mt-3 mb-3">
                            <nav>
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- pagination end here -->

                    </div>
                </div>
                <!-- content kanan end here -->

            </div>
        </div>
    </div>
    <!-- content end here -->

{% endblock %}
<!-- contents end here -->