<!-- set title -->
{% set title = 'Package Detail' %}
{% set description = 'Package Detail' %}

<!-- extends from layout -->
{% extends "layout.njk" %}

<!-- contents start from here -->
{% block content %}

    <!-- package header start here-->
    <div class="jumbotron c-pkg-detail-header">
        <div class="c-pkg-detail-header-content">
            <div class="container d-flex align-items-center">
                <div class="row no-gutters">
                    <!-- wording start here -->
                    <div class="col-lg-12">
                        <h1 class="display-4">
                            bromo tours
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus accusamus, necessitatibus dolorem ratione quas dolorum expedita, eum amet eius rerum aperiam temporibus magnam deserunt.
                        </p>
                    </div>
                    <!-- wording end here -->

                    <!-- detail start here -->
                    <div class="col-lg-12">

                        <!-- detail item #1 start here -->
                        <div class="media">
                            <img src="./assets/img/event.svg" class="mr-3 img-fluid align-self-center" alt="detail icon">
                            <div class="media-body">
                                <h5>
                                    3 days 2 nights
                                </h5>
                            </div>
                        </div>
                        <!-- detail item #1 end here -->

                        <!-- detail item #1 start here -->
                        <div class="media mt-2">
                            <img src="./assets/img/placeholder.svg" class="mr-3 img-fluid align-self-center" alt="detail icon">
                            <div class="media-body">
                                <h5>
                                    yogyakarta
                                </h5>
                            </div>
                        </div>
                        <!-- detail item #1 end here -->

                        <a href="#" class="btn btn-outline-success mt-4 btn--primary" style="letter-spacing:2px;">book now</a>

                    </div>
                    <!-- detail end here -->

                </div>

            </div>
        </div>
    </div>
    <!-- package header end here -->

    <!-- what to do start here -->
    <div class="container-fluid c-pkg-detail-todo d-flex justify-content-center align-items-center">
        <div class="container ">
            <div class="row no-gutters">

                <!-- content kiri start here -->
                <div class="col-lg-5">
                    <h1>what to do</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias numquam mollitia odit nulla nesciunt officia explicabo optio, nemo exercitationem at ipsa ratione! Beatae, suscipit delectus vel debitis ipsum eveniet animi.
                    </p>
                </div>
                <!-- content kiri start here -->

                <!-- content kanan start here -->
                <div class="col-lg-7">

                    <!-- Carousel start here -->
                    <div class="c-product-carousel swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">

                            <!-- Slides -->
                            <div class="swiper-slide">
                                <!--carousel card #1 start here-->
                                <div class="col">
                                    <div class="card c-card-img">
                                        <img src="./assets/img/bromo2.jpg" class="card-img-top" alt="card image" style="z-index:0;">
                                    </div>
                                </div>
                                <!-- carousel card #1 end here-->
                            </div>

                            <div class="swiper-slide">
                                <!--carousel card #1 start here-->
                                <div class="col">
                                    <div class="card c-card-img">
                                        <img src="./assets/img/bromo3.jpg" class="card-img-top" alt="card image" style="z-index:0;">
                                    </div>
                                </div>
                                <!-- carousel card #1 end here-->
                            </div>

                            <div class="swiper-slide">
                                <!--carousel card #1 start here-->
                                <div class="col">
                                    <div class="card c-card-img">
                                        <img src="./assets/img/bromo2.jpg" class="card-img-top" alt="card image" style="z-index:0;">
                                    </div>
                                </div>
                                <!-- carousel card #1 end here-->
                            </div>

                            <div class="swiper-slide">
                                <!--carousel card #1 start here-->
                                <div class="col">
                                    <div class="card c-card-img">
                                        <img src="./assets/img/bromo3.jpg" class="card-img-top" alt="card image" style="z-index:0;">
                                    </div>
                                </div>
                                <!-- carousel card #1 end here-->
                            </div>

                            <div class="swiper-slide">
                                <!--carousel card #1 start here-->
                                <div class="col">
                                    <div class="card c-card-img">
                                        <img src="./assets/img/bromo2.jpg" class="card-img-top" alt="card image" style="z-index:0;">
                                    </div>
                                </div>
                                <!-- carousel card #1 end here-->
                            </div>

                        </div>
                    </div>
                    <!-- Carousel end here -->

                </div>
                <!-- content kanan end here -->

            </div>
        </div>
    </div>
    <!-- what to do end here -->

{% endblock %}
<!-- contents end here -->