<!-- set title -->
{% set title = 'Package List' %}
{% set description = 'Package List' %}

<!-- extends from layout -->
{% extends "layout.njk" %}

<!-- contents start from here -->
{% block content %}{% endblock %}
<!-- contents end here -->