<!-- set title -->
{% set title = 'Package Detail' %}
{% set description = 'Package Detail' %}

<!-- extends from layout -->
{% extends "layout.njk" %}

<!-- contents start from here -->
{% block content %}

    <!-- package header start here-->
    <div class="jumbotron c-pkg-detail-header">
        <div class="c-pkg-detail-header-content">
            <div class="container d-flex align-items-center">
                <div class="row no-gutters">
                    <!-- wording start here -->
                    <div class="col-lg-12">
                        <h1 class="display-4">
                            bromo tours
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus accusamus, necessitatibus dolorem ratione quas dolorum expedita, eum amet eius rerum aperiam temporibus magnam deserunt.
                        </p>
                    </div>
                    <!-- wording end here -->

                    <!-- detail start here -->
                    <div class="col-lg-12">

                        <!-- detail item #1 start here -->
                        <div class="media">
                            <img src="./assets/img/event.svg" class="mr-3 img-fluid align-self-center" alt="detail icon">
                            <div class="media-body">
                                <h5>
                                    3 days 2 nights
                                </h5>
                            </div>
                        </div>
                        <!-- detail item #1 end here -->

                        <!-- detail item #1 start here -->
                        <div class="media mt-2">
                            <img src="./assets/img/placeholder.svg" class="mr-3 img-fluid align-self-center" alt="detail icon">
                            <div class="media-body">
                                <h5>
                                    yogyakarta
                                </h5>
                            </div>
                        </div>
                        <!-- detail item #1 end here -->

                        <a href="#" class="btn btn-outline-success mt-4 btn--primary" style="letter-spacing:2px;">book now</a>

                    </div>
                    <!-- detail end here -->

                </div>

            </div>
        </div>
    </div>
    <!-- package header end here -->

{% endblock %}
<!-- contents end here -->